<footer class="about-womazing">
  <app-header></app-header>
  <div class="footer-sections">
    <section class="contacts-section">
      <span class="text-footer">© Усі права захищені</span>
      <span class="text-footer">Політика конфіденційності</span>
      <span class="text-footer">Публічна оферта</span>
    </section>
    <section class="second-section">
      <span class="text-footer">Пальто</span>
      <span class="text-footer">Світшоти</span>
      <span class="text-footer">Кардигани</span>
      <span class="text-footer">Толстовки</span>
    </section>
    <section class="third-section">
      <span class="text-footer">hello@womazing.com</span>
      <img class="social-apps" src="../../../assets/images/icons/instagram.png" alt="">
      <img class="social-apps" src="../../../assets/images/icons/facebook.png" alt="">
      <img class="social-apps" src="../../../assets/images/icons/twitter.png" alt="">
      <br>
      <img class="social-apps" src="../../../assets/images/icons/visa.png" alt="">
    </section>
  </div>
</footer>
