.about-womazing{
  background-color: #F1EADC;
  padding: 50px 245px;
}

.footer-sections{
  display: flex;
  padding-top: 20px;
}
.contacts-section{
  width: 40%;
}
.second-section{
  width: 33%;
}
.third-section{
  text-align: right;
  width: 27%;
}
.text-footer{
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  display: block;
  padding-bottom: 10px;
}
.social-apps{
  height: 23px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
