<div class="container">
  <app-header></app-header>
  <h1 class="title">Магазин</h1>
<!--  <div class="container-category-product">-->
<!--    <div class="category-product">-->
<!--      <p class="category-product-title">Всі</p>-->
<!--    </div>-->
<!--    <div class="category-product">-->
<!--      <p class="category-product-title">Пальто</p>-->
<!--    </div>-->
<!--    <div class="category-product">-->
<!--      <p class="category-product-title">Світшоти</p>-->
<!--    </div>-->
<!--    <div class="category-product">-->
<!--      <p class="category-product-title">Кардигани</p>-->
<!--    </div>-->
<!--    <div class="category-product">-->
<!--      <p class="category-product-title">Толстовки</p>-->
<!--    </div>-->
<!--  </div>-->
  <app-product-item [products]="products" [showPaggination] = true></app-product-item>
</div>
<app-footer></app-footer>
