.container{
  padding: 10px 245px;
}
.title-succes{
  font-size: 25px;
  font-weight: 500;
}
.p-text{
  font-size: 17px;
  font-weight: 500;
}
.icon{
  height: 100px;
}
.success{
  display: flex;
  margin: 50px 0px;
}
.text{
  margin-left: 50px;
}
.btn-open-home{
  height: 70px;
  width: 270px;
  color: #6E9C9F;
  font-size: 17px;
  font-weight: 400;
  background-color: white;
  border: #6E9C9F 1px solid;
  margin-left: 120px;
  margin-top: 30px;
  cursor: pointer;
}
