<!--<app-header></app-header>-->
<div class="register-container">
  <h2>Реєстрація</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="username">Логін</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Уведіть логін"
      />
    </div>
    <!--<div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        placeholder="Enter your email"
      />
    </div>-->
    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        autocomplete="on"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Уведіть пароль"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Підтвердити пароль</label>
      <input
        autocomplete="on"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        placeholder="Підтвердіть пароль"
      />
    </div>
    <button type="submit" class="btn-register" [disabled]="!registerForm.form.valid">Реєстрація</button>
  </form>
  <a routerLink="/login">
    <button type="submit" class="btn-login">У мене є акаунт! Авторизуватись</button>
  </a>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
<!--<app-footer></app-footer>-->
