<div class="container">
  <app-header></app-header>
  <h1 class="title">Про бренд</h1>
  <div class="section-about">
    <div class="first-section-picture-container">
      <img class="first-section-picture" src="../../../assets/images/clothes/about-brand-first-pic.jpg" alt="">
    </div>
    <div class="section-text-container">
      <h2 class="section-title">Ідея і жінка</h2>
      <span class="section-text"> Womazing була заснована у 2010-му і стала однією з найуспішніших компаній нашої країни.
      Як і багато італійських фірм, Womazing залишається сімейною компанією, хоча жоден із членів сім'ї не є модельєром.
      <br><br>Ми діємо за успішною формулою, вдаючись до послуг відомих модельєрів для створення колекцій.
      Цей метод був описаний критиком моди Коліном Макдавеллом як форма дизайнерської співтворчості, характерна
      для низки італійських prêt-a-porter компаній.</span>
    </div>
  </div>
  <div class="section-about">
    <div class="section-text-container">
      <h2 class="section-title">Магія в деталях</h2>
      <span class="section-text"> Womazing була заснована у 2010-му і стала однією з найуспішніших компаній нашої країни.
      Як і багато італійських фірм, Womazing залишається сімейною компанією, хоча жоден із членів сім'ї не є модельєром.
      <br><br>Ми діємо за успішною формулою, вдаючись до послуг відомих модельєрів для створення колекцій.
      Цей метод був описаний критиком моди Коліном Макдавеллом як форма дизайнерської співтворчості, характерна
      для низки італійських prêt-a-porter компаній.</span>
    </div>
    <div class="second-section-picture-container">
      <img class="second-section-picture" src="../../../assets/images/clothes/about-brand-second-pic.jpg" alt="">
    </div>
  </div>
  <div class="box-button">
    <a routerLink="/shop">
      <button class="btn-about-brand">
        <p class="btn-text">Перейти в магазин</p>
      </button>
    </a>
  </div>
</div>
<app-footer></app-footer>
