<div class="container">
  <div class="side-menu">
    <div class="name-container">
      <mat-icon>verified_user</mat-icon>
      <h2>Admin panel</h2>
    </div>
    <div (click)="showContent = 'users'" [ngClass]="showContent === 'users' ? 'menu-item active' : 'menu-item'">
      <div class="menu-item-icon">
        <mat-icon>people</mat-icon>
      </div>
      <div [ngClass]="showContent === 'users' ? 'menu-item-text active' : 'menu-item-text'">
        <p>Users</p>
      </div>
    </div>
    <div (click)="showContent = 'products'" [ngClass]="showContent === 'products' ? 'menu-item active' : 'menu-item'">
      <div class="menu-item-icon">
        <mat-icon>production_quantity_limits</mat-icon>
      </div>
      <div [ngClass]="showContent === 'products' ? 'menu-item-text active' : 'menu-item-text'">
        <p>Products</p>
      </div>
    </div>
    <a style="text-decoration: none; color: black" routerLink="">
      <div class="name-container">
        <mat-icon>logout</mat-icon>
        <h2>To home</h2>
      </div>
    </a>
  </div>


  <main *ngIf="showContent === 'products'">
    <h1>{{showContent.toUpperCase()}}</h1>
    <div *ngIf="products$ | async as products" class="list-items">
      <div class="line-items">

        <div class="edit-col"><p>№</p></div>
        <div class="item"><p>Назва товару</p></div>
        <div class="item"><p>Ціна</p></div>
        <div class="item"><p>Доступна кількість</p></div>
        <div class="item"><p>Фото</p></div>
        <div class="edit-col"><p>Змінити</p></div>
      </div>
      <div *ngFor="let pr of products; let i = index" class="line-items">

        <div class="edit-col"><p>{{i + 1}}</p></div>
        <div class="item"><p>{{pr.name}}</p></div>
        <div class="item"><p>{{pr.price}}</p></div>
        <div class="item"><p>{{pr.availableQuantity}}</p></div>
        <div class="item"><img src="../../../assets/images/clothes/{{pr.image}}" alt=""></div>
        <div class="edit-col">
          <a routerLink="/edit-product-details/{{pr.id}}">
          <p>
            <mat-icon>edit</mat-icon>
          </p>
          </a>
        </div>
      </div>
    </div>
  </main>


  <main *ngIf="showContent === 'users'">
    <h1>{{showContent.toUpperCase()}}</h1>
    <div *ngIf="users$ | async as users" class="list-items">
      <div class="line-items">
        <div class="edit-col"><p>№</p></div>
        <div class="item"><p>Логін</p></div>
        <div class="item roles-col"><p>Ролі</p></div>
        <div class="item"><p>Змінити</p></div>
      </div>
      <div *ngFor="let currentUser of users; let i = index" class="line-items">
        <div class="edit-col"><p>{{i + 1}}</p></div>
        <div class="item"><p>{{currentUser.username}}</p></div>
        <div class="item roles-col"><p>{{currentUser.roles}}</p></div>
        <div *ngIf="currentUser.roles !== 'ADMIN'" (click)="assignAdmin(currentUser)" class="item method"><p>Зробити адміністратором</p></div>
        <div *ngIf="currentUser.roles === 'ADMIN'" (click)="deleteAdmin(currentUser)" class="item method"><p>Видалити адміністратора</p></div>
      </div>
    </div>
  </main>
</div>
