.container{
  max-width: 1920px;
  display: flex;

  .side-menu {
    flex: 2;
    background-color: #dbe1db;
    padding: 20px;

    .name-container {
      margin: 30px 0px;
      display: flex;
      justify-content: center;
      text-align: center;

      mat-icon {
        margin: auto 5px;
      }
    }

    .menu-item {
      display: flex;
      margin-top: 20px;
      border: 1px #5b7d80 solid;
      cursor: pointer;
      &.active {
        border: 2px #4f686c solid;
      }

      .menu-item-icon {
        width: 60px;
        height: 60px;
        background-color: #baced0;
        display: flex;
        mat-icon {
          margin: auto;
        }
      }

      .menu-item-text {
        text-align: center;
        display: flex;
        width: 100%;
        p {
          margin: auto 20px;
          font-weight: bolder;
          color: #5b7d80;
        }
        &.active {
          background-color: #79a8ab;
        }
      }
    }
  }

  main {
    flex: 8;
    h1 {
      text-align: center;
      margin: 30px;
    }
    .list-items {
      margin: 0 30px;
    }
    .line-items {
      margin: 20px;
      display: flex;
      .edit-col {
        flex: 1;
        width: 20%;
        margin: auto;
        mat-icon {
          color: black;
        }
      }
      .roles-col {
        flex: 5;
      }
      .item {
        display: flex;
        flex: 10;
        p {
          margin: auto;
          text-align: center;
        }
        img {
          height: 200px;
          margin: auto;
        }
      }
      .method {
        cursor: pointer;
      }
    }
  }


}


